GOOGLE_GENAI_USE_ENTERPRISE=1
GOOGLE_CLOUD_PROJECT=project-6ecbea1e-e0c3-4325-a63
GOOGLE_CLOUD_LOCATION=us
ADK_MODEL=gemini-3.5-flash
GOOGLE_API_USE_MTLS_ENDPOINT=never
GOOGLE_API_USE_CLIENT_CERTIFICATE=false
TRACELAYER_API_BASE_URL=https://tracelayer-api-235426782310.us-central1.run.app
TRACELAYER_API_KEY=local-demo-key
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
ADK_CAPTURE_MESSAGE_CONTENT_IN_SPANS=false
